@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\62";
}
.icon-arrow-left:before {
  content: "\63";
}
.icon-bolt:before {
  content: "\61";
}
.icon-facebook-official:before {
  content: "\64";
}
.icon-facebook:before {
  content: "\65";
}
.icon-facebook-square:before {
  content: "\66";
}
.icon-instagram:before {
  content: "\67";
}
.icon-envelope:before {
  content: "\68";
}
.icon-whatsapp:before {
  content: "\69";
}
.icon-envelope-o:before {
  content: "\6a";
}
.icon-google-plus:before {
  content: "\6b";
}
.icon-phone:before {
  content: "\6c";
}
.icon-phone-square:before {
  content: "\6d";
}
.icon-basket:before {
  content: "\6e";
}
.icon-delete-garbage-streamline:before {
  content: "\6f";
}
.icon-trash:before {
  content: "\70";
}
.icon-x:before {
  content: "\71";
}
.icon-cog:before {
  content: "\72";
}
.icon-cogs:before {
  content: "\73";
}
.icon-home:before {
  content: "\74";
}
.icon-screen-full:before {
  content: "\75";
}
.icon-expand:before {
  content: "\76";
}
.icon-arrows-alt:before {
  content: "\77";
}
.icon-code:before {
  content: "\78";
}
.icon-calculator:before {
  content: "\79";
}
.icon-calendar-check-o:before {
  content: "\7a";
}
.icon-calendar:before {
  content: "\41";
}
.icon-laptop:before {
  content: "\42";
}
.icon-globe:before {
  content: "\43";
}
.icon-money:before {
  content: "\44";
}
.icon-vallet:before {
  content: "\45";
}
.icon-rocket:before {
  content: "\46";
}
.icon-thumbs-o-up:before {
  content: "\47";
}
.icon-graph:before {
  content: "\48";
}
.icon-star-empty:before {
  content: "\49";
}
.icon-star:before {
  content: "\4a";
}
.icon-github:before {
  content: "\4b";
}
.icon-bars:before {
  content: "\4c";
}
.icon-list:before {
  content: "\4d";
}
.icon-download:before {
  content: "\4e";
}
.icon-arrow-down:before {
  content: "\4f";
}
.icon-download-1:before {
  content: "\50";
}
.icon-down-circled:before {
  content: "\51";
}
